body{
    background-color: black;
}
nav{
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-around;
    display: flex;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.lala{
    width: 500px;
    height: 300px;
    text-align: center;
}
p{
    font-size: 50px;
    color: white;
    text-align: center;
}
img{
    height: 200px;
    width: 200px;
}
h1{
    color: white;
    font-size: 55px;
    text-align: center;
}
.trex{
  float: right;
  margin: 20px;
  border-radius: 50%;
}
.rtx{
    float: left;
    margin: 20px;
    border-radius: 50%;
}